@model HoneymoonShop.Models.GebruikerModels.AfspraakMaken
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="content">

    <div class="row">
        <div class="title">
            @if (ViewData["afspraakSoort"].Equals("trouwjurk"))
            {
                <h1>Trouwjurken</h1>
                <h2 class="text-uppercase">Maak Je Pasafsrpaak</h2>
            }
            @if (ViewData["afspraakSoort"].Equals("trouwpak"))
            {
                <h1>Trouwpakken</h1>
                <h2 class="text-uppercase">Maak Je Pasafsrpaak</h2>
            }
            @if (ViewData["afspraakSoort"].Equals("afspeld"))
            {
                <h1>Afspelden</h1>
                <h2 class="text-uppercase">Maak Je Afspeldafsrpaak</h2>
            }
        </div>
    </div>
    <div class="hidden">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div class="row">
        <div class="afspraakmaken">
            <div class="menu">
                <div class="tab" id="stap1menu" style="display: block">
                    <ul>
                        <li><button onclick="toggleAfsrpaakmaken('stap1menu', 'stap1left', 'stap1right', 'stap1bright' , 'stap2menu', 'stap2left', 'stap2right', 'stap3menu', 'stap3left', 'stap3right')">1</button><br />Datum en tijd selecteren</li>
                    </ul>
                    <div class="gray">
                        <ul>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li><button onclick="toggleAfsrpaakmaken('stap2menu', 'stap2left', 'stap2right', 'stap1menu', 'stap1left', 'stap1bright', 'stap1right', 'stap3menu', 'stap3left', 'stap3right')">2</button><br /><span>Gegevens invullen</span></li>
                            <li>|</li>
                            <li><button onclick="toggleAfsrpaakmaken('stap3menu', 'stap3left', 'stap3right', 'stap1menu', 'stap1left', 'stap1right', 'stap1bright', 'stap2menu', 'stap2left', 'stap2right')">3</button><br /><span>Gegevens controleren</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tab" id="stap2menu" style="display: none">
                    <div class="lightcoral">
                        <ul>
                            <li>
                                <button onclick="toggleAfsrpaakmaken
    ('stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right', 'stap3menu', 'stap3left', 'stap3right')">
                                    1
                                </button>
                                <br /><span>Datum en tijd selecteren</span>
                            </li>
                            <li>|</li>
                        </ul>
                    </div>
                    <ul>
                        <li><button onclick="toggleAfsrpaakmaken('stap2menu', 'stap2left', 'stap2right', 'stap1menu', 'stap1left', 'stap1right', 'stap3menu', 'stap3left', 'stap3right')">2</button><br /><span>Gegevens invullen</span></li>
                    </ul>
                    <div class="gray">
                        <ul>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li>|</li>
                            <li><button onclick="toggleAfsrpaakmaken('stap3menu', 'stap3left', 'stap3right', 'stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right')">3</button><br />Gegevens controleren</li>
                        </ul>
                    </div>
                </div>
                <div class="tab" id="stap3menu" style="display: none">
                    <div class="lightcoral">
                        <ul>
                            <li><button onclick="toggleAfsrpaakmaken('stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right', 'stap3menu', 'stap3left', 'stap3right')">1</button><br />Datum en tijd selecteren</li>
                            <li>|</li>
                            <li><button onclick="toggleAfsrpaakmaken('stap2menu', 'stap2left', 'stap2right', 'stap1menu', 'stap1left', 'stap1right', 'stap3menu', 'stap3left', 'stap3right')">2</button><br />Gegevens invullen</li>
                            <li>|</li>
                        </ul>
                    </div>
                    <ul>
                        <li><button onclick="toggleAfsrpaakmaken('stap3menu', 'stap3left', 'stap3right', 'stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right')">3</button><br />Gegevens controleren</li>
                    </ul>
                </div>
            </div>
            <form asp-action="Maken" id="myform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="left">
                    <div class="tab" id="stap1left" style="display: block">
                        <h4>Stap 1, Datum en tijd selecteren</h4>
                        <div class="datumentijdselecteren">
                            <p>Selecteer eerst een datum en vervolgens een tijdstip dat je wilt komen passen!</p>
                            <br />
                            <br />
                            <p>Openingstijden:</p>
                            <table>
                                <tr>
                                    <td>MA</td>
                                    <td>12:00-17:30</td>
                                </tr>
                                <tr>
                                    <td>DI-VR</td>
                                    <td>09:30-17:30</td>
                                </tr>
                                <tr>
                                    <td>ZA</td>
                                    <td>09:30-18:00</td>
                                </tr>
                                <tr>
                                    <td>ZO</td>
                                    <td>11:00-17:00</td>
                                </tr>
                            </table>
                            <br>
                            <span>Op alle werkdagen kunnen er ook schoenen worden gepast. Helaas is dit niet mogelijk in het weekend.</span>
                            <button class="text-uppercase" id="ButtonStap2" type="button" onclick="toggleAfsrpaakmaken('stap2menu', 'stap2left', 'stap2right', 'stap1menu', 'stap1left', 'stap1bright', 'stap1right', 'stap3menu', 'stap3left', 'stap3right')" style="display : none;"> Naar stap 2 </button>
                        </div>
                    </div>
                    <div class="tab" id="stap2left" style="display: none">
                        <h4>Stap 2, Gegevens invullen</h4>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label asp-for="Gebruiker.Naam" class="col-md-12">Voor- achternaam*</label>
                                <div class="col-md-12">
                                    <input asp-for="Gebruiker.Naam" class="form-control" />
                                    <span asp-validation-for="Gebruiker.Naam" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gebruiker.Trouwdatum" class="col-md-12">Trouwdatum*</label>
                                <div class="col-md-12">
                                    <input asp-for="Gebruiker.Trouwdatum" type="date" class="form-control" />
                                    <span asp-validation-for="Gebruiker.Trouwdatum" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gebruiker.Telefoonnummer" class="col-md-12">Telefoonnummer</label>
                                <div class="col-md-12">
                                    <input asp-for="Gebruiker.Telefoonnummer" class="form-control" />
                                    <span asp-validation-for="Gebruiker.Telefoonnummer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gebruiker.Emailadres" class="col-md-12">Emailadres*</label>
                                <div class="col-md-12">
                                    <input asp-for="Gebruiker.Emailadres" class="form-control emailCheck1" />
                                    <span asp-validation-for="Gebruiker.Emailadres" id="email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EmailCheck" class="col-md-12"> Herhaal emailadres*</label>
                                <div class="col-md-12">
                                    <input type="email" class="form-control emailCheck2" />
                                </div>
                            </div>
                            <input asp-for="Afspraak.Datum" type="hidden" value="19-05-2016" />
                            <input asp-for="Afspraak.Tijd" type="hidden" value="10.41" />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button class="text-uppercase" id="ButtonStap3" type="button" onclick="toggleAfsrpaakmaken('stap3menu', 'stap3left', 'stap3right', 'stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right')"> Naar stap 3 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="stap3left" style="display: none">
                        <h4>Stap 3, Gegevens controleren</h4>
                        <p>
                            Controleer alle gegevens voor je pasafspraak bij Honeymoon shop aan
                            Korte Hoogstraat 4, te Rotterdam
                        </p>
                        <button class="text-uppercase" type="submit" onclick="toggleAfsrpaakmaken('stap3menu', 'stap3left', 'stap3right', 'stap1menu', 'stap1left', 'stap1right', 'stap2menu', 'stap2left', 'stap2right')"> AFSPRAAK BEVESTIGEN </button>
                    </div>
                </div>
                <div class="right datumselecteren">

                    <div class="tab" id="stap1right" style="display: block">
                        <h4><img src="~/images/heart-icon.png" />Selecteer een datum:</h4>

                        <div id="datepicker"></div>
                        <span id="DatumSelecteren" onclick="toggleSelecteerTijd('stap1right', 'stap1bright', 'ButtonStap2')">Selecteer een tijd <img src="~/images/pijl.png" alt="Alternate Text" /></span>
                    </div>

                    <div class="tab" id="stap1bright" style="display: none">
                        <h4><img src="~/images/heart-icon.png" />Selecteer een tijdstip:</h4>

                        <span style="display : block" id="radio1" onclick="toggleSelecteerTijdstip('radio1', 'radio2', 'radio3')">
                            <input type="radio" name="Tijd" value="9:30" />
                            <label>09 : 30</label>
                        </span>
                        <span style="display : block" id="radio2" onclick="toggleSelecteerTijdstip('radio1', 'radio2', 'radio3')">
                            <input type="radio" name="Tijd" value="12:30" />
                            <label>12 : 30</label>
                        </span>
                        <span style="display : block" id="radio3" onclick="toggleSelecteerTijdstip('radio1', 'radio2', 'radio3')" >
                            <input type="radio" name="Tijd" value="15:00" />
                            <label>15 : 00</label>
                        </span>
                        <span id="DatumSelecteren" onclick="toggleSelecteerTijd('stap1right', 'stap1bright', 'ButtonStap2')"><img src="~/images/pijllinks.png" alt="Alternate Text" />Terug naar datum selecteren </span>
                    </div>

                    <div class="tab" id="stap2right" style="display: none">
                        <h4><img src="~/images/heart-icon.png" />Gekozen tijd en datum: </h4>

                        <div class="col-md-12 backgroundLichtRoze well-sm gekozenDatum"> <h4>DO 15 September 2016 om 09:30 u</h4></div>
                        <p class="col-md-12"> Vul je persoonlijke gegevens in om de pasafspraak compleet te maken</p>
                    </div>

                    <div class="tab" id="stap3right" style="display: none">
                        <h4><img src="~/images/heart-icon.png" />Controleer je gegevens</h4>
                        <div class="backgroundLichtRoze"> <span id="datumEntijdOverzicht" class="backgroundLichtRoze text-center text-capitalize"></span> </div>
                        <div> <span id="NaamOverzicht" class="text-center"></span> </div>
                        <div> <span id="TrouwdatumOverzicht" class="text-left"></span> </div>
                        <div> <span id="TelefoonOverzicht" class="text-left"></span> </div>
                        <div> <span id="EmailOverzicht" class="text-left"></span> </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>