<div class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","home")">Home</a></li>
        <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","afspraak")">Afspraak</a></li>
        <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","#")">Trouwjurken passen</a></li>
        <li class="breadcrumb-item">Afspraak Gemaakt</li>
    </ol>
</div>



<div class="row">
    <div class="title">
        <h1>Voltooid!</h1>
        <h2 class="text-uppercase">Je pas afspraak is gemaakt</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <p>Leuk! Je pasafspraak is gemaakt! er is een bevestiging van je afspraak naar je E-mail gestuurd! Maak ook meteen een <a href="/afspraak">afspraak voor je partner</a> </p>
    </div>
    <div class="col-md-12 text-center">
        <a href="# " class="btn-standaard btn-delen">Deel dit moment</a>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-0">
        <img src="~/images/tips.jpg" alt="Tips en Tricks" class="img-responsive">
    </div>
    <div class="col-md-4 col-sm-6">
        <h3 class="text-capitalize">Tips and Tricks</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            <a href="#">Veel gestelde vragen.</a>
        </p>
        <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>sed do eiusmod tempor</li>
            <li>incididunt ut labore</li>
            <li>consectetur adipiscing</li>
            <li>Ut enim ad minim veniam</li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-center title">
        <h1 class="text-lichtroze bold">How it works</h1>
        <h2 class="text-capitalize bold text-donkergrijs ">
            Hoe verloopt het passen van<br>een pak of jurk eigenlijk?
        </h2>
    </div>
</div>

<!--Bekijk Videos-->
<div class="row">
    <div class="col-md-7 col-md-offset-1  bekijkVideos">
        <img src="~/images/onestopshop.jpeg" alt="" class="img-responsive">
        <div>
            <h2>> bekijk video</h2>
            <p>
                Hoe vind je de perfecte outfit?<br />
                Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindige jurken/pakken passen? geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt
            </p>
        </div>
        <span id="bekijkVideos-nummer">1</span>
    </div>
    <div class="col-md-4 bekijkVideos-lijst">
        <div>
            <div class="bg-donkerroze">1</div>
            <div class="text-donkerroze">De winkel</div>
        </div>
        <div>
            <div>2</div>
            <div>Onze specialist</div>
        </div>
    </div>
</div>

