/*Filter*/
.filterOpties{
    margin-bottom: 150px;
    position:relative;
}

.filterOpties > h4{
    font-family:Nexa Black;
    text-transform:uppercase;
}

.filterOpties ul{
    height: 150px;
    overflow-y:auto;
}

.filterOpties ul > li{
    background-color: RGB(250, 250, 250);
    color: rgb(150, 150, 150);
    padding-left: 15px;
    position: relative;
}

.filterOpties ul > li > input {
    margin-right: 10px;
}

.filterOpties ul > li:last-child{
    padding-bottom: 6px;
}

.filterOpties ul > li > input[type='checkbox']{
    width: 20px;
    height: 20px;
    background: #ddd;

    -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    visibility:hidden;
}

.filterOpties ul > li > label {
    margin-top: 5px;
    cursor: pointer;
    display: block;
    width: 19px;
    height: 19px;

    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    top: 4px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 1pt 1pt #fac9c4;
    -webkit-box-shadow: 0 0 1pt 1pt #fac9c4;
    -moz-box-shadow: 0 0 1pt 1pt #fac9c4;
    box-shadow: 0 0 1pt 1pt #fac9c4;
    
    /*Transitions*/
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
}

.filterOpties ul > li > input[type=checkbox]:checked + label {
    background: #fac9c4;
}

#filters{
    color: RGB(96, 96, 96);
}

#filters > h5{
    padding: 6px 10px; 
    background-color:RGB(240, 240, 240);
    margin:0;
    border-top: 1px solid rgb(219, 219, 220);
    cursor: pointer;
}

#filters > div{
    border-top:1px solid rgb(219, 219, 220);
}

.categorie span{
    display:block;
    margin-top: 5px;
    font-weight:700;
    padding:1px 12px;
}


h5 > .glyphicon{
    float:right;
    color: RGB(250, 200, 196);
}

.backgroundLichtRoze{
    background-color: #FCE8E7;
}

/*Producten overzicht*/
.jurkenOverzicht{
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    margin-bottom: 80px;
}

.bottomBorder{
    border-bottom:1px solid rgb(219, 219, 220);
}
.marginTop{
    margin-top:30px;
}
#filters{
    margin-top:30px;
}

.product{
    margin:5px 10px 15px 10px;
    background-color:white;
    z-index:0;
}

.product > a > img{
    width: 250px;
    height: 360px;
}

.product a:link{
    text-decoration:none;
}

.artikelInfo{
    display:none;
}

.artikelNummer, .artikelKleur{
    display:none;
}

.product:hover .artikelKleur, .product:hover .artikelNummer{
    display:block;
}
.product:hover{
    box-sizing:border-box;
    padding: 20px 32px 20px 32px;
    margin: -40px -22px -23px -22px;
    z-index:10;
    box-shadow: 3px 4px 13px 1px rgba(0, 0, 0, .25);
}

/*Product pagina*/
.kleur-bolletje{
    display: inline-block;
    border: 2px solid gray;
    border-radius: 50%;
    width: 15px;
    height: 14px;
    cursor: pointer;
    background-color: green;
}

.afbeelding-kiezen > div{
    height:200px;
    overflow:hidden;
    margin-bottom:10px;
}


.side-img{
    max-width: 240px;
    max-height:225px;
}

.sub-titel {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid black; 
    line-height: 0.1em;
    margin: 10px 0 40px; 
} 

.sub-titel span { 
    background:#fff;
    padding:0 10px;
    font-size: 22px;
}

/* Sorteren boven de producten categorie */

.sorting{
    text-align: right;
    margin-bottom: 40px;
}

.sorting > select{
    padding: 5px 31px 5px 10px;
    border: 1px solid #f0f0f0;
    color: #b5b5b5;
    margin-left:10px;
}

.sorting > h5, .sorting > select{
    display:inline-block;
}

.aantalProducten{
    float:left;
}
.aantalProducten > select{
    padding: 5px 31px 5px 10px;
    border: 1px solid #f0f0f0;
    color: #b5b5b5;
    margin-left:10px;
}

.aantalProducten > h5, .aantalProducten > select{
    display:inline-block
}

#prijs .slider-horizontal{
    width:100% !important;
    
}

.paginaNummer{
    text-align:right;
}

.paginaNummer > .pagination{
    color: #b5b5b5;
}

.paginaNummer > .pagination > li > a{
    padding:0px 5px;
    border:none;
    padding: 2px 10px;
    margin-left: -1px;
    line-height: 1.42857143;
    color:inherit;
}

.paginanummerActief{
    color:black;
    font-weight:900;
}

.paginaNummer > span, .paginaNummer > ul > li
{
    display:inline-block;
}
.paginaNummer > span{
    vertical-align:super;
}