.kleur-bolletje{
    display: inline-block;
    border: 2px solid gray;
    border-radius: 50%;
    width: 15px;
    height: 14px;
    background-color: green;
}

.afbeelding-kiezen > div{
    height:200px;
    overflow:hidden;
    margin-bottom:10px;
}


.side-img{
    max-width: 240px;
    max-height:225px;
}

.sub-titel {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid black; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

.sub-titel span { 
    background:#fff;
    padding:0 10px;
    font-size: 22px;
}

/*meer ruimte voor onderaan een div*/
.spacer{
    margin-bottom:40px;
}