<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "BeheerAfspraak")'" name="" value="" title="">Afspraken beheren</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "BeheerGebruiker")'" name="" value="" title="">Gebruikers beheren</button>
        </div>
    </div>
</div>
