<link rel="stylesheet" href="~/css/bruid.css" />

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","home")">Home</a></li>
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","Bruid")">Bruid</a></li>
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","#")">Dressfinder</a></li>
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("index","#")">{Categorie naam}</a></li>
            <li class="breadcrumb-item">Afspraak Gemaakt</li>
        </ol>
    </div>

    <div class="row" style="margin:20px 0;">
        <img src="~/images/Arrow.png" alt="Terug naar overzicht" style=" transform: scaleX(-1);width:100px;">
        <u>Terug naar overzicht</u>
    </div>

    <div class="row">
        <div class="col-md-3 afbeelding-kiezen">
            <img src="http://placehold.it/250x250" class="img-responsive">
            <img src="http://placehold.it/250x250" class="img-responsive">
            <img src="http://placehold.it/250x250" class="img-responsive">
        </div>
        <div class="col-md-6">
            <img src="http://placehold.it/569x751" alt="Jurk afbeelding" class="img-responsive">
        </div>

        <div class="col-md-3">
            <h2>{merk}Maggie Sottero</h2>
            {artikelnr.}artikel nr 12294
            <p>{beschrijving}Trouwjurk van het merk Maggie Sottero gemaakt van kant. De top kan met- en zonder schouders gedragen worden. de jurk heeft een laag uitgesneden rug en fishtail model met een sleep.</p>
            <br>
            <ul>
                <li>
                    Merk:<a href="#">{merk}</a>
                </li>
                <li>
                    Kenmerken:<a href="#">{Kenmerken}</a>, <a href="#">{Kenmerken2}</a>, <a href="#">{Kenmerken3}</a>
                </li>
                <li>Prijsindicatie: €{prijs}</li>
                <li>
                    Beschikbare kleuren:
                    <a href="#" class="kleur-bolletje"></a>
                    <a href="#" class="kleur-bolletje"></a>
                </li>
            </ul>
            <br><br>
            <p> Kom deze jurk passen!</p>
            <a asp-controller="Afspraak" asp-action="Index" class="knop">PASAFSPRAAK MAKEN</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-titel"><span>Bijpassende sieraden</span></h2>
        </div>

        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Abrazi</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Abrazi</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Abrazi</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Abrazi</h4>
        </div>
        <div class="col-md-12 text-center">
            <a href="#" class="knop">Bezoek de webshop</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-titel"><span>Of zijn deze jurken mischien iets voor jou</span></h2>
        </div>

        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Maggie Soretto</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Maggie Soretto</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Maggie Soretto</h4>
        </div>
        <div class="col-md-3">
            <img src="http://placehold.it/272x384" class="img-responsive">
            <h4>Maggie Soretto</h4>
        </div>
    </div>
</div>