@{
    ViewData["Title"] = "Home Page";
}


<div id="banner" class="banner">
    <img src="~/images/banner1.png" /><div class="bannerText">
        <div class="title">
            <h1>Bruid</h1>
            <p>Opzoek naar de perfecte jurk</p>
            <h2 class="text-uppercase">Van begin tot eind kunnen wij je helpen</h2>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="title">
            <h1>One stop shop</h1>
            <h2 class="text-uppercase">Een jurk of pak kopen?.<br>zo werkt het...</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bekijkVideos">
            <img src="~/images/onestopshop.jpeg" alt="" class="img-responsive">
            <div>
                <h2>> bekijk video</h2>
                <p>
                    Hoe vind je de perfecte outfit?<br />
                    Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindige jurken/pakken passen? geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt
                </p>
            </div>
            <span id="bekijkVideos-nummer">1</span>
        </div>
        <div class="col-md-4 bekijkVideos-lijst">
            <div>
                <div class="">1</div>
                <div class="">De winkel</div>
            </div>
            <div>
                <div>2</div>
                <div>Onze specialist</div>
            </div>
            <div>
                <div>3</div>
                <div>Naai-atelier</div>
            </div>
            <div>
                <div>4</div>
                <div>Servicepunten</div>
            </div>
        </div>
    </div>

    <!--Blog-->
    <div class="row">
        <div class="title">
            <h1>Blog</h1>
            <h2 class="text-uppercase">Blijf op de hoogte over<br>De bruidswereld</h2>
        </div>
    </div>
</div>

<div><img src="~/images/Footer/203494224.jpg" class="img-responsive" /></div>