@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Calculator</h2>

<div>Aanmelden voor een seminar</div>

<form name="aanmelding" action="" method="post">
    <div>Bereken: <input name="Naam" type="number" /> <input name="geboortejaar" type="date" /></div>
    <div><input type="submit" value="Aanmelden" /></div>
</form>

